.shareButton {
  float: left;
  padding-right: 10px;
}

.shareCount {
  padding-top: 0px;
  margin-top: 0px;
  text-align: center;
}

.shareBox {
  overflow: auto;
}

.shareHeader {
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
