/* Cell styles */

.leftBorder {
  border-left: 2px solid #222 !important;
}

.rightBorder {
  border-right: 2px solid #222 !important;
}

.topBorder {
  border-top: 2px solid #222 !important;
}

.noTopBorder {
  padding-top: 2px !important;
}

.noLeftBorder {
  padding-left: 2px !important;
}

.noRightBorder {
  padding-right: 2px !important;
}

.bottomBorder {
  border-bottom: 2px solid #222 !important;
}

.square {
  float: left;
  border: 0px;
  font-size: 24px;
  line-height: 54px;
  height: 54px;
  width: 54px;
  background: #fff;
  font-family: system-ui;
  color: #000;
  border-radius: 15%;
  margin-right: -1px;
  margin-top: -1px;
  font-weight: bold;
  padding: 0;
  text-align: center;
  transition: transform 300ms ease-in;
  animation-name: movingBox;
  animation-duration: 300ms;
}

.square:focus {
  outline: none;
}

.merged {
  transition: transform 300ms ease-in, background 300ms ease-in;
}

/* Cell animations */

.drop5-exit,
.drop4-exit,
.drop3-exit,
.drop2-exit,
.drop1-exit {
  transform: translate(0px, 0px);
}

.drop1-enter,
.drop2-enter,
.drop3-enter,
.drop4-enter,
.drop5-enter {
  transform: translate(0px, 0px);
}

.drop1-enter-active.merged,
.drop1-exit-active.merged,
.drop2-enter-active.merged,
.drop2-exit-active.merged,
.drop3-enter-active.merged,
.drop3-exit-active.merged,
.drop4-enter-active.merged,
.drop4-exit-active.merged,
.drop5-enter-active.merged,
.drop5-exit-active.merged {
  transition: translate 0ms, background 300ms ease-in;
}

.drop1-enter-active,
.drop1-exit-active {
  transform: translate(0px, -54px);
  transition: translate 0ms;
}
.drop2-enter-active,
.drop2-exit-active {
  transform: translate(0px, -108px);
  transition: translate 0ms;
}
.drop3-enter-active,
.drop3-exit-active {
  transform: translate(0px, -216px);
  transition: translate 0ms;
}
.drop4-enter-active,
.drop4-exit-active {
  transform: translate(0px, -108px);
  transition: translate 0ms;
}
.drop5-enter-active,
.drop5-exit-active {
  transform: translate(0px, -270px);
  transition: translate 0ms;
}

/* Cell colours */

.color1 {
  background: #f44336;
}

.color2 {
  background: #9c27b0;
}

.color3 {
  background: #3f51b5;
}

.color4 {
  background: #03a9f4;
}

.color5 {
  background: #009688;
}

.color6 {
  background: #8bc34a;
}

.color7 {
  background: #ffc107;
}

.color8 {
  background: #a7ffeb;
}

.color9 {
  background: #9e9e9e;
}

.color10 {
  background: #6d4c41;
}

.color11 {
  background: #673ab7;
}

.color12 {
  background: #2196f3;
}

.color13 {
  background: #00bcd4;
}

.color14 {
  background: #4caf50;
}

.color15 {
  background: #cddc39;
}

.color16 {
  background: #ffeb3b;
}

.color17 {
  background: #ff9800;
}

.color18 {
  background: #ffebee;
}

.color19 {
  background: #fce4ec;
}

.color20 {
  background: #f3e5f5;
}

.color21 {
  background: #ede7f6;
}

.color22 {
  background: #e8eaf6;
}

.color23 {
  background: #e3f2fd;
}

.color24 {
  background: #e1f5fe;
}

.maxNumber {
  background: #e1f5fe;
}
