body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.warning {
  color: #f44336;
  font-weight: bold;
}

.square {
  background: #fff;
  float: left;
  border: 0px;
  font-size: 24px;
  font-weight: bold;
  line-height: 54px;
  height: 54px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 54px;
  border-radius: 15%;
}

.leftBorder {
  border-left: 2px solid #222 !important;
}

.rightBorder {
  border-right: 2px solid #222 !important;
}

.topBorder {
  border-top: 2px solid #222 !important;
}

.bottomBorder {
  border-bottom: 2px solid #222 !important;
}

.drop5-exit,
.drop4-exit,
.drop3-exit,
.drop2-exit,
.drop1-exit {
  transform: translate(0px, 0px);
  transition: all 300ms ease-in;
}
.drop1-enter,
.drop2-enter,
.drop3-enter,
.drop4-enter,
.drop5-enter {
  transform: translate(0px, 0px);
  transition: all 300ms ease-in;
}
.drop1-enter-active,
.drop1-exit-active {
  transform: translate(0px, -54px);
  transition-property: none;
}
.drop2-enter-active,
.drop2-exit-active {
  transform: translate(0px, -108px);
  transition-property: none;
}
.drop3-enter-active,
.drop3-exit-active {
  transform: translate(0px, -216px);
  transition-property: none;
}
.drop4-enter-active,
.drop4-exit-active {
  transform: translate(0px, -108px);
  transition-property: none;
}
.drop5-enter-active,
.drop5-exit-active {
  transform: translate(0px, -270px);
  transition-property: none;
}

button {
  animation-name: movingBox;
  animation-duration: 300ms;
  transition: transform 300ms;
}

.color1 {
  background: #f44336;
}

.color2 {
  background: #9c27b0;
}

.color3 {
  background: #3f51b5;
}

.color4 {
  background: #03a9f4;
}

.color5 {
  background: #009688;
}

.color6 {
  background: #8bc34a;
}

.color7 {
  background: #ffc107;
}

.color8 {
  background: #ff5722;
}

.color9 {
  background: #9e9e9e;
}

.color10 {
  background: #e91e63;
}

.color11 {
  background: #673ab7;
}

.color12 {
  background: #2196f3;
}

.color13 {
  background: #00bcd4;
}

.color14 {
  background: #4caf50;
}

.color15 {
  background: #cddc39;
}

.color16 {
  background: #ffeb3b;
}

.color17 {
  background: #ff9800;
}

.color18 {
  background: #ffebee;
}

.color19 {
  background: #fce4ec;
}

.color20 {
  background: #f3e5f5;
}

.color21 {
  background: #ede7f6;
}

.color22 {
  background: #e8eaf6;
}

.color23 {
  background: #e3f2fd;
}

.color24 {
  background: #e1f5fe;
}

.maxNumber {
  background: #e1f5fe;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-board {
  background: #000;
  border: 2px solid #000;
}

.game-info {
  margin-left: 20px;
}
